@import '_reset';

/*=====================================*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family:'微軟正黑體';
}
#app{
	width: 100%;
	background-color: #cb034a;
}
header{
	width: 100%;
	height: 585px;
	background-image: url('../images/onsale_title.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
}
.container{
	width: 100%;
	.box-items{
		width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		.item-wrap{
			width: 300px;
			padding: 1rem;
			display: flex;
			flex-wrap: wrap;
			
			.item{
				background-color: #fff;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				transition: all .3s;
				cursor: pointer;
				&:hover{
					transform: translateY(-8px);
					box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.24);
				}
				.item-body{
					text-align: center;
					padding: .5rem;
					img{
						display: block;
					}
					div{
						margin-bottom: .25rem;
					}
					.title{
						font-size: 1.25rem;
						font-weight: bold;
						color:#404040;
					}
					.type{
						font-size: .9rem;
						color: gray;
					}
					.origin_price-box{
						font-size: .9rem;
						color: gray;
						.origin_price{
							font-family: Arial, Helvetica, sans-serif;
						}
					}
					.price-box{
						color:#d92670;
						font-size: 1.5rem;
						font-weight: bold;
						.price{
							font-size: 2rem;
							font-family: Arial, Helvetica, sans-serif;
						}
					}
				}
				
			}
		}
	}
}
.pagnation-wrap{
	width: 100%;
	.pagnation-box{
		width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		padding: 1rem;
		.pagnation-link{
			background-color: #fff;
			color:#cb034a;
			padding: .5rem 1.5rem;
			display: block;
			text-decoration: none;
			margin-right: 1rem;
			&:last-child{
				margin-right: 0;
			}
			&.disabled{
				color: #6c757d;
				pointer-events: none;
				cursor: auto;
				background-color: #fff;
			}
		}
	}
}
footer{
	text-align: center;
	background-color: #000;
	padding: 1rem;
	color:#fff;
}